{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

    {% if contactForm %}

    {{ form_start(contactForm) }}
    <label>Prénom : </label>
    {{ form_errors(contactForm.prenom) }}
    {{ form_widget(contactForm.prenom) }}

    <label>Nom : </label>
    {{ form_errors(contactForm.nom) }}
    {{ form_widget(contactForm.nom) }}

    <label>Email : </label>
    {{ form_errors(contactForm.email) }}
    {{ form_widget(contactForm.email) }}

    <label>Sujet : </label>
    {{ form_errors(contactForm.sujet) }}
    {{ form_widget(contactForm.sujet) }}
    
    <label>Message : </label>
    {{ form_errors(contactForm.message) }}
    {{ form_widget(contactForm.message) }}

    <input type="submit" value="envoyer l'email">
    {{ form_end(contactForm) }}


    {% endif %}

{% endblock %}
